$background: #f7f8fa;
$blue: #322a7d;
$lightblue: #bbc5d5;
$white: #ffffff;
$yellow: #ffa101;
$red: #f35162;
$text-color: #11141a;
$text-light: #7f8fa4;
$blue30: rgba(50, 42, 125, 0.3);
$red30: rgba(243, 81, 98, 0.3);
$yellow30: rgba(255, 161, 1, 0.3);
$rtitle: #354052;
$purple: #69519e;
$navbar-border: 1px solid#e2e7ee;
$transition: 0.4s ease-in-out;
